<div class="transaction">
  <div class="Sidebar-container"></div>
  <div class="context">
    <div class="Header-container"></div>
    <div class="page-content">
      <div class="context-info">
        <div class="info">
          <h1>Transacciones</h1>

          <p>Registro y gestión de transacciones financieras.</p>
        </div>
        <div class="button"></div>
      </div>
      <div class="filter-button"></div>
      <div class="transaction-table"></div>
      <div class="transaction-table-bar"></div>
    </div>
  </div>
</div>
